@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
body {
  color: var(--black-color);
  font-family: "Lexend", sans-serif;
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.747);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-inner {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Shadow effect */
}
.popup-inner > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.popup-inner div h2 {
  font-size: 24px;
  margin-bottom: 10px;
}
.popup-inner div span {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.popup-inner form {
  width: 300px;
}
.popup-inner form div {
  margin-bottom: 10px;
}
.popup-inner form label {
  display: block;
  margin-bottom: 7px;
}
.popup-inner form input {
  width: 100%;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #939393;
}
.popup-inner button[type="submit"] {
  background-color: #35b368;
  color: #fff;
  text-transform: capitalize;
  border-radius: 5px;
  margin-top: 10px;
  padding: 5px 10px;
}
