.user-name {
  text-align: center;
  margin-top: 20px;
}

.message-input {
  padding: 15px 300px;
  padding-left: 15px;
}

.margin-left {
  margin-left: 10px;
}

.messages-container,
.requests-container {
  margin: 0 40px;
}

.message-container {
  padding: 10px 20px;
  width: 80%;
}

.request-card {
  width: 80%;
}

.amount-input {
  width: 40vw;
  max-width: 400px;
}
