.input-container {
  position: relative;
  display: inline-block;
  margin: 20px;
  width: 400px;
  align-self: center;
}

.search-input {
  padding: 10px 30px;
}

.search-icon {
  margin-left: 10px;
}

.station-card {
  height: 300px;
  width: 350px;
  padding: 20px;
}

.icons-div {
  justify-content: space-between;
}

.gap {
  gap: 50px;
}

.small-gap {
  gap: 5px;
}

.button-div button {
  border: none;
  padding: 10px 20px;
  background-color: #35b368;
  color: #ffffff;
  border-radius: 5px;
  font-weight: bold;
}

.padding {
  padding: 30px 40px 20px 40px;
}

.padding-bottom {
  padding-bottom: 50px;
}
